{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
<link href="home_page.css" rel="stylesheet">

{% block content %}
    {% image self.banner_image width-1500 as img %}
<body class="d-flex flex-column">
    <div class="view" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; height: 100vh; color: #fff !important">
     
        <div class="element" style="width: 200px; height: 20px; background-color: #f0e68c; margin-bottom: 8px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;"></div>
        <div class="lead" style="background-color: #ffd700; text-align: center; width: 80%; margin: 0 auto; letter-spacing: 2px; border-radius: 20px;">{{ self.banner_subtitle|richtext }}</div>
        {% if self.banner_cta %}
            <a class="btn btn-light btn-lg" style="margin-left: 35%; background-color: #f0e68c;" href="/about" role="button">Find out what we're about</a>
        {% endif %}
    </div>   


    <div id="page-content">
        <div class="container text-center">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <h1 class="font-weight-light mt-4 text-black">Who are we?</h1>
              <p class="lead text-black-50">We are Street Strong Youth Project, a Portsmouth based universal youth provision initiative funded by Portsmouth City Council.</p>
              <a class="btn btn-light btn-lg" href="/about" role="button">Tell me more</a>
            </div>
          </div>
        </div>
      </div>
    {% for child in self.body %}
            {% if child.block_type == 'heading' %}
                <h2>{{ child }}</h2>
            {% else %}
                <div class="text-center">{{ child }}</div>
        {% endif %}
    {% endfor %}

    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}

        <footer id="sticky-footer" class="py-4 bg-light text-black-50">
          <div class="container text-center">
            <small>Copyright &copy; Street Strong Youth Project</small>
          </div>
        </footer>

        <script>
            window.sr = ScrollReveal();
            sr.reveal('.btn', {
                duration: 2000,
                delay: 1000,
                origin: 'bottom',
                distance: '100px',
            });
        </script>
      </body>
{% endblock %} 

