{% extends 'base.html' %} 
{% load wagtailcore_tags %}


{% block content %}
<style>
    .contact-form {
        list-style-type: none;
        padding-left: 0;
    }
    .contact-form li {
        margin-bottom: 1.5rem;
    }
    .contact-form label {
        display: block;
        font-weight: bold;
    }
    .contact-form .helptext {
        display: block;
        font-size: 80%;
    }
    .btn {
        background-color: #ffd700;
    }
    .btn:hover {
      background-color: rgb(36, 35, 35);
      color: #fff;  
      transition: 1.5s ease;
    }
</style>

<div class="jumbotron" style="background-color: #ffd700;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="display-4" style="color: #f8f8ff;">{{ self.title }}</h1>
                <div class="lead" style="color: #f8f8ff;">{{ self.intro|richtext }}</div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        <ul class="contact-form">
            {{ form.as_ul }}
        </ul>

        <input type="submit" class="btn"></input>
    </form>
</div>
<footer id="sticky-footer" class="py-4 bg-light text-black-50">
    <div class="container text-center">
    <small>Copyright &copy; Street Strong Youth Project | Created in collaboration with Coders of Colour and Zainab Adelopo</small>
    </div>
</footer>
{% endblock %}  